@bg-color: #99aa33;
@import url(http://fonts.googleapis.com/css?family=Metal+Mania);
@import url(http://fonts.googleapis.com/css?family=Cutive+Mono);


body{
  background-color: lightblue;
  font-family: 'Cutive Mono', ;
}

h3, button{
  font-family: 'Cutive Mono', ;
}

.panel{
  background-color: black;
  border: none;
}

.panel h1{
  font-family: 'Metal Mania', cursive !important;
  color: white;
}

.drum{
  width: 50px;
  height: 50px;
  background-color: black;
}

.seqStep{
  width: 25px !important;
  height: 25px !important;
  background-color: black;
  margin: 5px;
  border-radius: 5px;
}

.selected{
  background-color: grey;
  border: 2px solid black;
}

