extends ../shared/template

block content
 
  .panel.text-center
    h1 Drums

  .row#space
    .small-12.columns
      &nbsp


  .row#controls
    .small-12.columns
      .row
        .small-3.columns
          button.tiny.radius#play Play
        .small-9.columns
          &nbsp

    .row
      .small-2.columns
        label
          h3 Tempo:
        input.tempoText(id="tempo", type="text")
        button.tiny.radius#setTempo Set Tempo
      .small-10.columns

  .row#sequenceWrapper
    .small-12.columns
      ul.inline-list
        -for(var i = 0; i < 16; i++){
          li.seqStep.kick(kick-sequence-position = i)
        -}
      ul.inline-list
        -for(var i = 0; i < 16; i++){
          li.seqStep.snare(snare-sequence-position = i)
        -}
      ul.inline-list
        -for(var i = 0; i < 16; i++){
          li.seqStep.hat(hat-sequence-position = i)
        -}

