extends ../shared/template

block content
  h1 Drums
  .row
    .small-6.columns
      div Kits:
      select#kit
        option(value='Drums-of-Death') Drums of Death
        option(value='Earthquake-Ruckus') Earthquake Ruckus
        option(value='God-vs-Satan') God vs. Satan
      button#play Play
    .small-6.columns
      div Tempo:
        input(id="tempo", type="text" placeholder="100")
        button#setTempo Set Tempo
