extends ../shared/template

block content
  h1 Drums

  .row
    .small-3.columns.
      <div id="volume" class="range-slider" data-slider><span class="range-slider-handle"></span><span class="range-slider-active-segment"></span><input type="hidden"></div>

  .row
    .small-3.columns
      div.drum#kick
    .small-3.columns
      div.drum#snare
    .small-3.columns
      div.drum#hat
    .small-3.columns
