extends ../shared/template

block content
  h1 Drums

  .row
    .small-3.columns
      div.drum#kick
    .small-3.columns
      div.drum#snare
    .small-3.columns
      div.drum#hat
    .small-3.columns

