extends ../shared/template

block content
  h1 Drums
  
  .row
    .small-3.columns
       button#play Play
      .small-9.columns

  .row
    .small-3.columns
      div Tempo:
        input(id="tempo", type="text")
        button#setTempo Set Tempo
    .small-9.columns
