extends ../shared/template

block content
  h1 Drums
  .row
    .small-6.columns
      div Kits:
      select#kit
        option(value='first') Drums of Death
        option(value='second') Earthquake Ruckus
        option(value='third') God vs. Satan
      button#play Play
    .small-6.columns
      div Tempo:
        input(id="tempo", type="text" placeholder="120")
        button#setTempo Set Tempo
