extends ../shared/template

block content

  .row#space
    .small-12.columns
      &nbsp


  .row#controls
    .small-12.columns
      .row
        .small-3.columns
          button#play Play
        .small-9.columns
          &nbsp

    .row
      .small-3.columns
        label
          h3 Tempo:
        input(id="tempo", type="text")
        button#setTempo Set Tempo
      .small-9.columns

  .row#sequenceWrapper
    .small-12.columns
      ul.inline-list
        -for(var i = 0; i < 16; i++){
          li.seqStep.kick(kick-sequence-position = i)
        -}
      ul.inline-list
        -for(var i = 0; i < 16; i++){
          li.seqStep.snare(snare-sequence-position = i)
        -}
      ul.inline-list
        -for(var i = 0; i < 16; i++){
          li.seqStep.hat(hat-sequence-position = i)
        -}

